body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom right, rgb(231, 231, 4), rgb(255, 67, 67) ) ;
}

h1 {
    text-align: center;
}

.index-list li {
    font-size: 20px;
}

.description, .ingredients, .steps {
    font-size: 20px;
}

h3 {
    text-decoration: underline;
}